@{
    Layout = null;
}

<div ng-controller="BusinessCtrl">
    <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Business Name</th>
                        <th scope="col">Contact Name</th>
                        <th scope="col">Public</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="biz in data.Businesses">
                        <th scope="row">{{biz.BusinessName}}</th>
                        <td>{{biz.user.UserName}}</td>
                        <td>{{biz.IsPublic}}</td>
                        <td>
                            <button class="btn btn-info" ng-click="SetupBusiness()">View</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer"></div>
    </div>

    <div class="modal fade" id="businessModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   <div ng-show="ShowPage(1)">

                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
