
@{
    ViewBag.Title = "OrderApp";
}

<div class="container" ng-controller="requestCtrl">
    <div class="row my-4">
        <div class="col-lg-5">
            <img class="img-fluid rounded" src="http://placehold.it/600x300" alt="">
        </div>
        <div class="col-lg-7">
            <h1>Business Name or Tagline</h1>
            <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
            <br>
            <button class="btn btn-outline-info" ng-show="ShowWizardStep(1)">Sign In</button>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            @{ 
                Html.RenderPartial(ViewData["Page"].ToString());
            }
        </div>
    </div>
</div>
